.home-main {
    margin-top: -72px;
    padding-top: 272px;
    padding-left: 345px;
    padding-bottom: 60px;
    background: url("/images/home-main-bg.png") no-repeat;
}

.home-main-title {
    width: 810px;
    font-weight: 900;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--white);

    span {
        color: var(--primary);
    }
}

.home-main-info {
    margin-top: 44px;
    gap: 25px;

    .info-link {
        display: block;
        width: 219px;
        height: 52px;
        border: 1px solid currentColor;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 52px;
        letter-spacing: 0.5px;
        text-align: center;
        color: var(--white);
    }

    .play-name {
        font-weight: 700;
        font-size: 16px;
        color: var(--white);
    }
}

.home-main-features {
    margin-top: 124px;
    gap: 94px;

    .features-item {
        gap: 20px;
    }

    .features-item-title {
        font-size: 20px;
        color: var(--white);
    }

    .divider {
        width: 1px;
        height: 40px;
        background: linear-gradient(95deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12%,
                #DADBDD 52%, rgba(218, 219, 221, 0.5) 88%, rgba(218, 219, 221, 0) 100%);
    }
}

.home-info {
    margin-top: 120px;
    margin-left: 345px;
    gap: 105px;
}

.home-info-text {
    width: 630px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--gray-900);
}

.home-info-awards {
    width: 495px;
    flex-wrap: wrap;
    column-gap: 41px;
    row-gap: 32px;

    .awards-item {
        gap: 16px;
    }

    .awards-item-desc {
        width: 136px;
        font-size: 14px;
        line-height: 150%;
        color: var(--gray-800);
    }
}

.home-clients {
    width: fit-content;
    margin: 180px auto 0;
}

.home-middle {
    margin-top: 39px;
    padding-top: 131px;
    padding-bottom: 180px;
    background: url("/images/home-middle-bg.png") no-repeat;
}

.home-about {
    margin-left: 345px;
    gap: 135px;
}

.home-about-desc {
    width: 390px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-700);
}

.home-about-more {
    display: block;
    width: 161px;
    height: 44px;
    margin-top: 48px;
    background-color: var(--primary);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--white);
}

.home-figures {
    width: fit-content;
    margin: 180px auto 0;
    gap: 48px;
}

.home-figures-item {
    width: 148px;
    text-align: center;

    .figures-item-num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 148px;
        height: 148px;
        border-radius: 100%;
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        color: var(--gray-900);
    }

    .figures-item-desc {
        margin-top: 20px;
        font-size: 14px;
        line-height: 150%;
        color: var(--gray-800);
    }
}

.home-figures-item:nth-child(1) {
    .figures-item-num {
        background: url("/images/figure1-bg.png") no-repeat;
    }
}

.home-figures-item:nth-child(2) {
    .figures-item-num {
        background: url("/images/figure2-bg.png") no-repeat;
    }
}

.home-figures-item:nth-child(3) {
    .figures-item-num {
        background: url("/images/figure3-bg.png") no-repeat;
    }
}

.home-figures-item:nth-child(4) {
    .figures-item-num {
        border: 6px solid var(--success);
    }
}

.home-services {
    margin-top: 180px;
    margin-bottom: 83px;
}

.home-services-tabs {
    margin-top: 40px;
    margin-left: 345px;

    .tab-btn {
        display: block;
        width: 246px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: var(--gray-600);
    }

    .tab-btn__active {
        border: 1px solid currentColor;
        border-radius: 4px;
        color: var(--primary);
    }
}

.home-services-box {
    margin-top: 43px;
    margin-left: 345px;
    gap: 124px;

    >div:nth-child(1) {
        width: 390px;
        margin-top: 17.02px;
    }
}

.home-services-subtitle {
    font-size: 28px;
    line-height: 150%;
    color: var(--gray-900);
}

.home-services-list {
    list-style-type: none;
    margin-top: 24px;

    li {
        margin-bottom: 12px;
        padding-left: 28px;
        background: url("/images/mark.png") no-repeat;
        background-position-y: 2px;
        font-size: 16px;
        line-height: 160%;
        color: var(--gray-800);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.home-services-actions {
    margin-top: 48px;
    gap: 24px;
}

.home-services-more,
.home-services-try {
    display: block;
    height: 44px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-align: center;
}

.home-services-more {
    width: 139px;
    background-color: transparent;
    color: var(--primary);
}

.home-services-try {
    width: 156px;
    background-color: var(--primary);
    color: var(--white);
}

.home-faq {
    margin-top: 180px;
    margin-left: 345px;
    gap: 142px;

    >div:nth-child(2) {
        margin-top: 58px;
    }
}

.home-faq-box {
    margin-top: 60px;
    flex-direction: column;
    gap: 24px;
}

.home-faq-more {
    display: block;
    width: 184px;
    height: 44px;
    margin-top: 60px;
    padding-left: 32px;
    background: var(--primary) url("/public/images/arrow-right.svg") no-repeat;
    background-position-y: center;
    background-position-x: 136px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: var(--white);
}

.home-studies {
    margin-top: 120px;
    padding: 80px 345px;
    background-color: var(--gray-200);
}

.home-studies-actions {
    gap: 12px;

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: var(--primary);
            border-radius: 100%;

            svg path {
                fill: var(--white);
            }
        }
    }
}

.home-studies-box {
    margin-top: 48px;
}

.home-studies-item {
    width: 390px;
    height: 390px;
    padding-top: 40px;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);

    .studies-item-logo {
        margin-left: 40px;
    }

    .studies-item-title {
        margin-top: 8px;
        margin-left: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }

    .divider {
        width: 390px;
        height: 1px;
        margin-top: 20px;
        background: linear-gradient(95deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12%,
                #DADBDD 52%, rgba(218, 219, 221, 0.5) 88%, rgba(218, 219, 221, 0) 100%);
    }

    .studies-item-desc {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 16px;
        line-height: 160%;
        color: var(--gray-700);
    }

    .studies-item-features {
        margin-top: 71px;
        margin-left: 40px;
        gap: 32px;

        .feature {
            gap: 12px;
        }

        .feature-ellipse {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }

        .feature-num {
            font-size: 20px;
            line-height: 150%;
            color: var(--gray-900);
        }

        .feature-desc {
            font-size: 12px;
            line-height: 150%;
            color: var(--gray-900);
        }
    }
}

.home-studies-item:nth-child(1) {
    .studies-item-features .feature:nth-child(2) .feature-ellipse {
        border: 4px solid var(--success);
    }
}

.home-studies-item:nth-child(2) {
    padding-top: 30px;

    .studies-item-logo {
        width: fit-content;
        padding: 5px;
        background-color: var(--primary);
    }

    .studies-item-features .feature:nth-child(1) .feature-ellipse {
        border: 4px solid var(--info);
    }
}

.home-studies-item:nth-child(3) {
    .studies-item-features .feature:nth-child(2) .feature-ellipse {
        border: 4px solid var(--warning);
    }
}

.home-studies-item:hover {
    background: url("/public/images/studies-item-bg.svg") no-repeat;

    .studies-item-title,
    .studies-item-desc,
    .studies-item-features .feature-num,
    .studies-item-features .feature-desc {
        color: var(--white);
    }
}

.home-benefits {
    margin-top: 100px;
}

.home-bentefits-content {
    margin-top: 60px;
    margin-left: 345px;
    margin-right: 345px;

    >div:nth-child(1),
    >div:nth-child(3) {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.home-benefits-item {
    width: 394px;
    padding: 40px 48px;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    text-align: center;

    .benefits-item-title {
        margin-top: 16px;
        font-size: 20px;
        line-height: 150%;
        color: var(--gray-900);
    }

    .benefits-item-desc {
        height: 63px;
        margin-top: 8px;
        font-size: 14px;
        line-height: 150%;
        color: var(--gray-700);
    }

    &:hover {
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
            0px 30px 24px -10px rgba(154, 156, 165, 0.05),
            0px 12px 10px -6px rgba(154, 156, 165, 0.04),
            0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    }
}

.home-pricing {
    margin-top: 180px;
}

.home-pricing-box {
    margin-top: 60px;
    margin-left: 345px;
    gap: 30px;
}

.home-pricing-tabs {
    width: fit-content;
    margin: 60px auto 0;
    gap: 12px;

    .tab-btn {
        display: block;
        width: 210px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
        border: 1px solid var(--primary);
        border-radius: 40px;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: var(--primary);

        span {
            font-weight: 400;
            font-size: 12px;
        }
    }

    .tab-btn__active {
        background-color: var(--primary);
        color: var(--white);
    }
}

.home-pricing-item {
    width: 390px;
    height: 536px;
    padding-top: 40px;
    background-color: var(--white);
    border: 1px solid rgba(119, 114, 241, 0.4);
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
        0px 4px 4px -4px rgba(30, 33, 44, 0.03);

    .pricing-item-title {
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: var(--gray-900);
    }

    .pricing-item-price {
        margin-top: 8px;
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        text-align: center;
        color: var(--primary);

        sup {
            margin-left: 8px;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
        }
    }

    .divider {
        width: 390px;
        height: 1px;
        margin-top: 16px;
        background: linear-gradient(95deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12%,
                #DADBDD 52%, rgba(218, 219, 221, 0.5) 88%, rgba(218, 219, 221, 0) 100%);
    }

    .pricing-item-list {
        width: fit-content;
        list-style-type: none;
        margin: 24px auto 0;

        li {
            margin-bottom: 8px;
            padding-left: 28px;
            background: url("/images/mark.png") no-repeat;
            background-position-y: 4px;
            font-size: 16px;
            line-height: 160%;
            color: var(--gray-900);

            &:last-child {
                margin-bottom: 0;
            }
        }

        .unavailable {
            background: url("/images/cross.png") no-repeat;
            background-position: 0;
            color: var(--gray-600) !important;
        }
    }

    .pricing-item-choose {
        display: block;
        width: 146px;
        height: 44px;
        margin: 32px auto 0;
        border: 1px solid var(--primary);
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 44px;
        letter-spacing: 0.5px;
        text-align: center;
        color: var(--primary);
    }
}

.home-pricing-item:hover {
    background-color: var(--gray-900);
    border: 1px solid var(--success);
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16),
        0px 26px 24px -10px rgba(30, 33, 44, 0.1),
        0px 12px 10px -6px rgba(30, 33, 44, 0.08),
        0px 4px 4px -4px rgba(30, 33, 44, 0.05);

    .pricing-item-title {
        color: var(--white);
    }

    .pricing-item-price {
        color: var(--success);
    }

    .pricing-item-list {
        li :not(.unavailable) {
            background: url("/images/mark-green.png") no-repeat;
        }

        li {
            color: var(--white);
        }
    }

    .pricing-item-choose {
        background-color: var(--primary);
        color: var(--white);
    }
}

.home-testimonials {
    margin-top: 180px;
    padding-bottom: 80px;
    background: url("/public/images/home-testimonials-bg.png") no-repeat;
    background-position-x: center;
    background-position-y: 39px;
}

.home-testimonials-content {
    margin-top: 60px;
    margin-left: 345px;
    margin-right: 345px;
}

.home-testimonials-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        background-color: var(--primary);

        svg path {
            fill: var(--white);
        }
    }
}

.home-testimonials-info {
    width: 1020px;
    padding: 64px 105px;
    background-color: var(--white);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.home-testimonials-review {
    gap: 30px;
}

.home-testimonials-desc {
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-800);
}

.home-testimonials-author {
    margin-top: 24px;
    gap: 20px;

    .author-name {
        font-size: 16px;
        line-height: 160%;
        color: var(--gray-900);
    }

    .author-pos {
        margin-top: 4px;
        font-size: 14px;
        line-height: 150%;
        color: var(--gray-700);
    }
}

.home-blog {
  margin-top: 100px;
  margin-bottom: 180px;
  margin-left: 345px;

  >div:nth-child(1) {
    margin-right: 135px;
  }

  >div:nth-child(2) {
    margin-right: 30px;
  }

}

.home-blog-desc {
  width: 285px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-800);
}

.home-blog-link {
  display: block;
  width: 180px;
  height: 52px;
  margin-top: 60px;
  background-color: var(--primary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}

.home-blog-item {
    width: 390px;

    .blog-item-meta {
        margin-top: 16px;
        gap: 12px;
        font-size: 14px;
        color: var(--gray-700);
    }

    .blog-item-date {
        padding-left: 28px;
        background: url("/images/clock.png") no-repeat;
    }

    .blog-item-author {
        padding-left: 28px;
        background: url("/images/profile.png") no-repeat;
    }

    .blog-item-title {
        margin-top: 8px;
        font-size: 20px;
        line-height: 150%;
        color: var(--gray-900);
    }

    .blog-item-desc {
        margin-top: 8px;
        font-size: 16px;
        line-height: 160%;
        color: var(--gray-800);
    }

    .blog-item-more {
        margin-top: 16px;
        gap: 8px;

        .more-title {
            font-size: 16px;
            line-height: 160%;
            color: var(--gray-900);
        }
    }
}