.home-main {
    margin-top: -72px;
    padding-top: 272px;
    padding-left: 345px;
    padding-bottom: 60px;
    background: url("/images/home-main-bg.png") no-repeat;
}

.home-main-title {
    width: 810px;
    font-weight: 900;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--white);

    span {
        color: var(--primary);
    }
}

.home-main-info {
    margin-top: 44px;
    gap: 25px;

    .info-link {
        display: block;
        width: 219px;
        height: 52px;
        border: 1px solid currentColor;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 52px;
        letter-spacing: 0.5px;
        text-align: center;
        color: var(--white);
    }

    .play-name {
        font-weight: 700;
        font-size: 16px;
        color: var(--white);
    }
}

.home-main-features {
    margin-top: 124px;
    gap: 94px;

    .features-item {
        gap: 20px;
    }

    .features-item-title {
        font-size: 20px;
        color: var(--white);
    }

    .divider {
        width: 1px;
        height: 40px;
        background: linear-gradient(95deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12%,
                #DADBDD 52%, rgba(218, 219, 221, 0.5) 88%, rgba(218, 219, 221, 0) 100%);
    }
}

.home-info {
    margin-top: 120px;
    margin-left: 345px;
    gap: 105px;
}

.home-info-text {
    width: 630px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--gray-900);
}

.home-info-awards {
    width: 495px;
    flex-wrap: wrap;
    column-gap: 41px;
    row-gap: 32px;

    .awards-item {
        gap: 16px;
    }

    .awards-item-desc {
        width: 136px;
        font-size: 14px;
        line-height: 150%;
        color: var(--gray-800);
    }
}

.home-clients {
    width: fit-content;
    margin: 180px auto 0;
}

.home-middle {
    margin-top: 39px;
    padding-top: 131px;
    padding-bottom: 180px;
    background: url("/images/home-middle-bg.png") no-repeat;
}

.home-about {
    margin-left: 345px;
    gap: 135px;
}

.home-about-desc {
    width: 390px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-700);
}

.home-about-more {
    display: block;
    width: 161px;
    height: 44px;
    margin-top: 48px;
    background-color: var(--primary);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--white);
}

.home-figures {
    width: fit-content;
    margin: 180px auto 0;
    gap: 48px;
}

.home-figures-item {
    width: 148px;
    text-align: center;

    .figures-item-num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 148px;
        height: 148px;
        border-radius: 100%;
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        color: var(--gray-900);
    }

    .figures-item-desc {
        margin-top: 20px;
        font-size: 14px;
        line-height: 150%;
        color: var(--gray-800);
    }
}

.home-figures-item:nth-child(1) {
    .figures-item-num {
        background: url("/images/figure1-bg.png") no-repeat;
    }
}

.home-figures-item:nth-child(2) {
    .figures-item-num {
        background: url("/images/figure2-bg.png") no-repeat;
    }
}

.home-figures-item:nth-child(3) {
    .figures-item-num {
        background: url("/images/figure3-bg.png") no-repeat;
    }
}

.home-figures-item:nth-child(4) {
    .figures-item-num {
        border: 6px solid var(--success);
    }
}

.home-services {
    margin-top: 180px;
    margin-bottom: 83px;
}

.home-services-tabs {
    margin-top: 40px;
    margin-left: 345px;

    .tab-btn {
        display: block;
        width: 246px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: var(--gray-600);
    }

    .tab-btn__active {
        border: 1px solid currentColor;
        border-radius: 4px;
        color: var(--primary);
    }
}

.home-services-box {
    margin-top: 43px;
    margin-left: 345px;
    gap: 124px;

    >div:nth-child(1) {
        width: 390px;
        margin-top: 17.02px;
    }
}

.home-services-subtitle {
    font-size: 28px;
    line-height: 150%;
    color: var(--gray-900);
}

.home-services-list {
    list-style-type: none;
    margin-top: 24px;

    li {
        margin-bottom: 12px;
        padding-left: 28px;
        background: url("/images/mark.png") no-repeat;
        background-position-y: 2px;
        font-size: 16px;
        line-height: 160%;
        color: var(--gray-800);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.home-services-actions {
    margin-top: 48px;
    gap: 24px;
}

.home-services-more,
.home-services-try {
    display: block;
    height: 44px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-align: center;
}

.home-services-more {
    width: 139px;
    background-color: transparent;
    color: var(--primary);
}

.home-services-try {
    width: 156px;
    background-color: var(--primary);
    color: var(--white);
}

.home-faq {
    margin-top: 180px;
    margin-left: 345px;
    gap: 142px;

    >div:nth-child(2) {
        margin-top: 58px;
    }
}

.home-faq-box {
    margin-top: 60px;
    flex-direction: column;
    gap: 24px;
}

.home-faq-more {
    display: block;
    width: 184px;
    height: 44px;
    margin-top: 60px;
    padding-left: 32px;
    background: var(--primary) url("/public/images/arrow-right.svg") no-repeat;
    background-position-y: center;
    background-position-x: 136px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: var(--white);
}

.home-studies {
    margin-top: 120px;
    padding: 80px 345px;
    background-color: var(--gray-200);
}

.home-studies-actions {
    gap: 12px;

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: var(--primary);
            border-radius: 100%;

            svg path {
                fill: var(--white);
            }
        }
    }
}

.home-studies-box {
    margin-top: 48px;
}